# dependencies
node_modules
portfolio-react/node_modules
# production
/build
dist/
portfolio-react/dist/
# misc
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# logs
logs
*.log
# editor / OS
.vscode/
.idea/
Thumbs.db
# keep lockfiles if you want:
# !package-lock.json
